<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.blog.core.dao.UserDao">

    <select id="selectInofBytime" resultType="com.blog.blog.core.entity.UserEntity">
        select u.name as name,u.image as image from user u  ORDER by u.logintime DESC LIMIT 0,12
    </select>
</mapper>